* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  background: #f15946;
  transition: 0.4s ease-in-out;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  z-index: 99999999;
  list-style: none;
  text-transform: uppercase;
  font-size: large;
  font-weight: 700;
}

.navbar-title {
  text-decoration: none;
  color: white;
}

.scrollArea {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  position: absolute;
  z-index: 99;
  width: 100%;
  padding: 60px;
  .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      font-weight: 900;
      letter-spacing: 2px;
      color: white;
    }
    nav {
      ul {
        margin: 0;
        padding: 0;
        display: flex;
        li {
          list-style: none;
          margin: 0 60px;
          &.btn {
            a {
              color: #fff;
              font-weight: 600;
              background: #23232a;
              padding: 16px 24px;
              border-radius: 10px;
            }
          }
          a {
            text-transform: capitalize;
            text-decoration: none;
            color: white;
            padding: 10px 15px;
            border-radius: 10px;
          }
        }
      }
    }
  }
}

.title {
  font-size: 8rem;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  color: #fff;
}

.shoe-item {
  position: absolute;
  top: 290px;
  left: 600px;
  padding: 0;
  margin: 40px;
  font-size: 5em;
  line-height: 0.7em;
  letter-spacing: -6px;
  color: #272730;
}

.picker {
  position: absolute !important;
  top: 280px;
  left: 420px;
  z-index: 9999;
  width: 200px !important;
  height: 200px !important;
  padding: 7px;
  background-color: #fff;
  border-radius: 10px;
}

.loading {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #171717;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.loading-bar-container {
  width: 100px;
  height: 32px;
  background: #272727;
}

.loading-bar {
  height: 32px;
  background: #f15946;
}

.dropBtn {
  position: absolute;
  top: 730px;
  z-index: 99999;
  left: 700px;
  padding: 10px;
  border-radius: 10%;
  background-color: rgb(119, 12, 12);
  border: none;
  color: #fff;
  cursor: pointer;
}
